/* RESET */

*{
  box-sizing: border-box;
}

body {
  font: 16px sans-serif;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #E7E7E7;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* HEADER */
header
{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #E6AD84 0%, #D77F3F 61.46%, rgba(215, 63, 91, 0.71) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.logo
{
  height: 33px;
  width: 40px;
  margin-left: 10px;
}

.nav-bar
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links
{
  display: flex;
  justify-content: space-around;
  font-family: 'Bebas Neue', cursive;
  color: #FFF;
  margin-right: 70px;
  font-size: 20px;
  width: 200px;
}

/* MAIN */
main
{
  margin: 50px;
}

main h1
{
  color: #CC616D;
  font-size: 34px;
  font-family: 'Bebas Neue', cursive;

}
main h2
{
  font-size: 28px;
  font-family: 'Bebas Neue', cursive;
}

main p
{
  font-family: 'Nunito', sans-serif;

}

.seo-part
{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.seo-information
{
  margin-left: 30px;
  margin-right: 30px;
}

.seo-information h2
{
  color:#CC616D;
}

.seo-text
{
  margin-top: 20px;
  color: #D67C43;
}

main .seo-history
{
  margin-top: 80px;
}

main .seo-history h2
{
  color:#CC616D;
}
main .seo-history .seo-text
{
  margin-top: 20px;
}

main .seo-issues
{
  margin-top: 80px;
}

main .seo-issues h2
{
  color:#CC616D;
}

main .seo-issues .seo-issues-part-one
{
  margin-top: 20px;
  display: flex
}

main .seo-issues .seo-issues-part-one .seo-img
{
  padding-left: 15em;
  justify-content: flex-end;
}

main .seo-issues .seo-issues-part-two
{
  margin-top: 20px;
  margin-bottom: 50px;
}

