/* RESET */

*{
  box-sizing: border-box;
}

body {
  font: 16px sans-serif;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #E7E7E7;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* HEADER */
header
{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #E6AD84 0%, #D77F3F 61.46%, rgba(215, 63, 91, 0.71) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.logo
{
  height: 33px;
  width: 40px;
  margin-left: 10px;
}

.nav-bar
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links
{
  display: flex;
  justify-content: space-around;
  font-family: 'Bebas Neue', cursive;
  color: #FFF;
  margin-right: 70px;
  font-size: 20px;
  width: 200px;
}

/* MAIN */
main
{
  margin: 20px;
}

main h1
{
  color: #CC616D;
  font-size: 34px;
  font-family: 'Bebas Neue', cursive;

}
main h2
{
  font-size: 28px;
  font-family: 'Bebas Neue', cursive;
}
main h3
{
  color: #CC616D;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 30px;
}

main p
{
  font-family: 'Nunito', sans-serif;
  color: #D67C43;
}

a
{
  text-decoration: none;
  color: #CC616D;
}

.seo-images
{
  margin: 30px 0;
  width: 75%;
}

.seo-information h2
{
  color:#CC616D;
}

.seo-text
{
  margin-top: 20px;
  color: #D67C43;
}

main .seo-history
{
  margin-top: 80px;
}

main .seo-history h2
{
  color:#CC616D;
}

main .seo-history .seo-text
{
  margin-top: 20px;
}

/* RESPONSIVE */

@media only screen and (min-width: 1024px)
{
  main
  {
    margin: 50px;
  }
  .seo-part
  {
    display: flex;
    flex-direction: row;
  }

  .seo-information
  {
    margin: 30px;
  }
}


/* FOOTER */
footer
{
  background: linear-gradient(90deg, #E6AD84 0%, #D77F3F 61.46%, rgba(215, 63, 91, 0.71) 100%);
}

footer p, footer a
{ 
  color: white;
}

.social-network a
{
  margin: 5px 10px;
}

.collab
{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}