
/* FONT */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


* 
{
  background-color: #E7E7E7;
}

/* HEADER */
header
{
  display: flex;
  justify-content: space-between;
}

.logo
{
  height: 33px;
  width: 40px;
  margin: 20px;
}

.nav-bar
{
  display: flex;
  justify-content: end;
  flex-direction: row;
}

ul
{
  font-family: 'Bebas Neue', cursive;
  color: #D67C43;
  margin-right: 70px;
  font-size: 20px;
}

/* MAIN */
main 
{
  margin: 50px;
}

main h1
{
  color: #CC616D;
  font-size: 34px;
  font-family: 'Bebas Neue', cursive;

}
main h2
{
  font-size: 28px;
  font-family: 'Bebas Neue', cursive;
}

main p 
{
  font-family: 'Nunito', sans-serif;

}

.seo-part
{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.seo-information
{
  margin-left: 30px;
  margin-right: 30px;
}

.seo-information h2
{
  color:#CC616D;
}

.seo-text
{
  color: #D67C43;
}